input:focus{
    outline: none;
}
.search-input{
    width: 80%;
}
.search-input:active{
    border: 1px solid darkorange;
}
.search-button{
    background-color: darkorange;
    color: white;
}
.home-part{
  position: absolute !important;
  right: 10px;
}
@media only screen and (max-width: 576px) {
 .home-part{
  top: 20px;
  right: 0;
  padding-left: 10px;
 }
 .head-logo{
  width: 100px;
  font-size: 1.2rem !important;
 }
}
.cart-image{
    width: 40px;
}
.add-button{
    background-color:darkorange;
    color: white ;
}
.add-button:hover{
    background-color: rgb(160, 0, 0);
    color: white;

}


.home-button{
    background-color: darkorange;
    color: white;
}

/* category part */
.category-part{
    color: darkorange;
    padding: 5px 10px;
   
}
.category-part:hover{
    background-color: darkorange;
    color: white;
}
/* cart part */
.my-table{
  width: 100%;
}
.my-table tr{
  border: 1px solid rgb(203, 201, 201);
  }

.my-table tr, th, td{
  padding:15px;
  padding-left: 3px;
  padding-right: 0;
 }
.bg-color{
  background-color: #f2ff9e;
}
.item-title, .quantity-title{
  padding-left: 10px;
}

.discount-amount{
    color: darkorange;
}
.charge-button{
    background-color: darkorange;
    color: white;
   
}
.charge-button:hover{
    background-color: rgb(160, 0, 0);
    color: white;
}
.addToCart-button{
    background-color: darkorange;
    color: white;
    width: 100%;
   
}
.addToCart-button:hover{
    background-color: rgb(160, 0, 0);
    color: white;
}
.del-button{
    background-color: darkorange;
    color: white;
}
.del-button:hover{
    background-color: white;
    color: red;
}
/* coupon code design */
.coupon-code label{
  color:darkorange ;
}
.coupon-code .text-filed {
  width: 75%;
  outline: none;
}

.coupon-code .apply-button {
  background-color: darkorange;
  color: white;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.coupon-code .apply-button:hover {
  background-color: rgb(160, 0, 0);
  color: white;
}

.cancel-button:hover{
    background-color: red;
    color: white;
}

.new-product{
    background-color: #ed0d22;
    color: white;
    width: 40px;
    margin: 5px;
    border-radius: 2px;
    padding-left: 2px;
}

/* detaisl page */

 .sub-image img{
  width: 100%;
   height: auto;

  }
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
.img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
 
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
     }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }

  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card-details {
    
    background:#ffffff;
    padding: 3em;
    line-height: 1.5em; }
  
    /* .card {

    background: #eee;
    padding: 1em;
    line-height: 1.5em; } */
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
       }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
 }
 

 /* chekout page style */




.checkout-wrapper {

  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  background-color: rgb(255 255 255);
  -webkit-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.18);
  animation: slideUp 1500ms ease;
}

.container-chekout {
  width: 100%;
  padding: 2% 5%;
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }
}

h1 {
  align-self: center;
}

form {
  width: 100%;
  margin-top: 20px;
     
  }

  .checkout-input input
   {
    width: 100%;
    border: 1px solid rgb(57, 36, 36);
    outline: 0;
    font-size: 1rem;
    letter-spacing: .15rem;
    font-family: "Arimo";
    margin-top: 5px;
    border-radius: 4px;
  }

  label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
 
  }

  h1 {
    font-size: 24px;
    line-height: 10px;
    color: title;
    letter-spacing: 1px;
    color: darkorange;
  }

  h1:nth-of-type(2) {
    margin-top: 10%;
  }


.shipping-name {
  justify-content: space-between;
  display: flex;
  width: 100%;

}
.shipping-name div{
  width: 45%;
}
.cc-info div{
  width: 45%;
}
.shipping-address {
  display: flex;
  justify-content: space-between;


}
.shipping-address div {
  width: 30%;
}


.checkout-button {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-end;
}
  .checkout-button button {
    margin: 3px 0;
    height: 50px;
    width: 100%;
    background-color: darkorange;
    color: white;
    text-transform: uppercase;
    border: 0;
    border-radius: .3rem;
    letter-spacing: 2px;
    cursor: pointer;
   
  }
.checkout-button button:hover{
    animation-name: btn-hov;
      animation-duration: 550ms;
      animation-fill-mode: forwards;
}

@keyframes btn-hov {
  100% {
  background-color: rgb(160, 0, 0);
    color: white;
  
  }
}

input:focus,
button:focus {
  outline: none;
}

@media (max-width: 736px) {
 .checkout-wrapper {
    width: 100%;
  }

  .container-chekout {
    width: 100%;
  }

 
  .checkout-button button {
      width: 100%;
    }
  }
@media (min-width: 576px) {
 .checkout-wrapper {
    width: 100%;
  }

  .container-chekout {
    width: 90%;
  }

 
  .checkout-button button {
      width: 100%;
    }
  }

  form h1 {
    text-align: center;
  }

  
.payment-info div {
  width: 45%;
}
  
.payment-info {
justify-content: space-between;
  display: flex;
  width: 100%;
    
}

  .checkout-input input {
    margin: 5px 0;
    min-height: 30px;
  }

/* invoice Design */

.invoice{
  display: flex;
  justify-content: space-between;
}
.invoice-logo{
  width: 100px;
  height: 100px;
  }
.invoice label{
  font-size: 1rem;
}
.invoice-location{
  background-color: rgb(238 238 238 / 54%);
  padding: 5% 3%;
  display: flex;
  justify-content: space-between;
}
.invoice-payment{
  display: flex;
  justify-content: space-between;
}

.invoice-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
@media only screen and (min-width: 576px) {

.contact-us{
  
  /* flex-wrap:wrap !important; */
}

}

 .invoice-table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-head, .table-end{
  background-color: #dddddd;
}
.invoice-payment-info{
display: flex;
justify-content: space-between;
}
.invoice-subtotal{
  display: flex;
  justify-content: space-between;
}
.tax-amount{
  margin-left: 60px;
}
.vl {
  border-left: 1px solid rgb(218, 216, 216);
  height: 100px;
  
}
.vl2{
  border-left: 2px solid white;
  height: 20px;
}